/* layout.css */

/* Center the body content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;;
  font-size: medium;
  background-color: #f2f2f2;
}

/* Wrapper to center the project content */
.project-wrapper {
  max-width: 800px; /* Adjust the value to control the maximum width of the content */
  width: 90%; /* To keep some space on both sides */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li{
  font-size: large;
}
.center-container {
  text-align: center;
}

.interrnship-container {
  display: flex;
  gap: 34px 0px;
  flex-wrap: wrap;
}

    /* Project Cards */
    .internship-container {
      display: flex;
      gap: 34px 16px;
      flex-wrap: wrap;
    }
    
    .intern-card {
      flex-basis: calc((100% - 80px) / 3); /* Adjust the value as needed */
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 34px;
      /* padding: 0px; */
    }
    
    .intern-image {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }